.custom-scrollbar::-webkit-scrollbar {
  width: 20%;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  height: 6px;
}
