.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 3px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  height: 6px;
}